.App {
  text-align: initial;
}

.App .main {
  padding: 0 1em;
}

@media (min-width: 768px) {
  .App .main {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
  }
}
